/* 默认样式初始化 */
body,ul,li {
    margin: 0;
    padding: 0;
}
body {
    height: 1000px;
    background-color: #202020;
}
a {
    text-decoration: none;/* 去掉超链接的下划线 */
}
ul {
    list-style-type: none;/* 去掉无序的点 */
}

/* 将列表横过来，需要先浮动 */
.nav-list > li {
    float: left;
}
/* after伪元素清理浮动 */
.clearfixed::after {
    display: table;
    content: " ";
    clear: both;
}
/* 一级菜单的设置 */
.container {
     /* border: 1px solid black; */
     margin:-95px auto;
     width: 1226px; 
}
.background-img {
    margin:42px 62px ;
    float: left;
    width: 1226px;
    height: 800px;
   /* border: 1px solid black;  */
   background: url(background.png) no-repeat 50% 0;
}
.nav-list {
    background-color: #808080;
    height: 44px;
    position:relative;/*定位*/
}
.nav-list > li {/* 强制限定只有nav-list下一级的li有变化 */
    float: left;
    margin: 0 20px;/*上下 左右的位置 */

}
.nav-list > li > a {
    display: block;
    padding: 0 12px;
    color: #fff;/*设置字体的颜色*/
    font-size: 18px;
    line-height: 42px;/*文字居中*/
    height: 43px; /*背景高度*/
    border: 1px solid #808080;
    border-bottom: none;
    position:relative;/*需要层叠关系定位 */
    z-index:9;/*设置层级覆盖*/

}
.nav-list > li > a:hover {
    background-color: #fff;
    color: #bc0303;    
    border: 1px solid #c9c9c9;
    border-bottom: none;
}
.chanke {
    background-color: #202020;
    /* background-clip: #ffffff; */
}
.chanke-head {
    margin-top: 0; 
    height: 180px;/*插入图片的高度*/
    background: url(chanke-head.png) no-repeat 50% 0;
}

/* 二级菜单栏 */
.item  {
    position: absolute;/*脱离文档流，相对于ul定位relative */
    /* margin: 2px 10px; */
    top: 43px;/*设置浮动的高度*/
    width: 160px;
    z-index:1;/*设置层级覆盖*/
    display: none;/*隐藏二级菜单*/
}
.item-list{
    background-color: #fff;
    border: 1px solid #c9c9cc;
    padding: 2px 0 0 12px;   
}
.item-list > li {
    width: 300px;
    height: 40px;
}
.item-list > li > a {
    color: #6e6e6e;
    line-height:40px;
    /* background-color: ; */
}
.item-list > li > a:hover {
    text-decoration: underline;/*添加下划线*/
}

/*针对人才招聘样式*/
.list {
    position: absolute;
    top:43px;
    right: 231px;
    z-index: 4;
}
.list > .item-list {
    border-left: none;
}

.item-list >div > li {
   width: 200px;
   /* height: 40px; */
}
.item-list > div > li > a {
   color: #6e6e6e;
   line-height:40px;
  /* white-space:nowrap;段落中的文本不进行换行*/
}
.item-list > div > li > a:hover {
   text-decoration: underline;/*添加下划线*/
}
/*.list-hover-content {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #c9c9cc;
}
 .list ,.list-hover-content ,.list-cateBox-container  {
    left: 0px;
    top: 0px;
    height: auto;   
    clear: left;允许左边有浮动
    line-height:40px;
    margin: -10px 0;
    padding: 0px;
    position: relative;  
    white-space:nowrap;段落中的文本不进行换行
}
.list ,.list-hover-content ,.list-cateBox-container >div > a{
    color: #6e6e6e;
    text-align: left;
   

}
.list ,.list-hover-content ,.list-cateBox-container >div > a:hover {
    text-decoration: underline;添加下划线
} */
/* 控制显示二级菜单 */
.nav-list .show .item {
    display: block;/*隐藏*/
}

/* a标签如果有show时效果也显示hover的效果 */
.nav-list > .show > a {
    background-color: #fff;
    color: #bc0303;    
    border: 1px solid #c9c9c9;
    border-bottom: none;
}















