/* 导航栏样式  topbar-nav*/
body,ul,li {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type:none;
}
body {
    height: 2500px;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a {
    text-decoration: none;
}
.topbar {
    background-color: #333;
    /* border: 1px solid black; */
    height: 40px;
}

.topbar a {
    color: #b0b0b0;
    font-size: 12px;
}
.topbar a:hover{
    color: #ffffff;
}
.container {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 1226px;    
}
.container::before,.container::after,
.clearfix::before,.clearfix::after {
    content: "";
    display: table;
}
.container::after,.clearfix::after  {
    clear: both;
}

.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 0px;
}
.topbar-nav span {
    font-size: 12px;
    color: #424242;
    font-family: sans-serif;
    margin: 0.5em;
}
.topbar-info {
    float: right;
    margin-right: 15px;
}
.topbar-info a {
    float: left;
    padding: 0px 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info span {
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #424242;
    line-height: 40px;
    height: 40px;
}

.topbar-info .sep {
    padding: 0px 10px;
}

.topbar-cart {
    float: right;
}
.topbar-cart i {
    font-size: 20px;
    line-height: 20px;
    margin-right: 4px;
    vertical-align: -4px;
}

.topbar-cart a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;   
    background-color: #424242;
}
.topbar-cart span {
    margin-left:-4px;
    font-size: 12px;
}
.topbar-cart a:hover {
    background-color: #ffffff;
    color: #ff6700;
}
/* 菜单栏样式  header-nav*/
.header {
    height: 100px;
}
.header-logo {
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
    /* border: 1px solid black; */
}
.header-logo a {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-logo a.lr{
    text-align: left;
    text-indent: -1992em;
}
.header-nav {
    float: left;
    width: 820px;
    height: 100px;
    /* border: 1px solid black; */
}
.header-nav .nav-list {
    width: 820px;
    height: 80px;
    font-size: 16px;
    padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category{
    float: left;
    width: 127px;
    padding: 0 15px 0 0 ;
}
.header-nav .nav-list .nav-category a{
    display: block;
    text-align: right;
    padding: 26px 0px 38px;
    color: #333;
}

.header-nav .nav-list .nav-item{
    float: left;
}
.header-nav .nav-list .nav-item a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.header-nav .nav-list .nav-item a:hover {
    color: #ff6700;
}

.header-search {
    float: right;
    position: relative;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    /* border: 1px solid black; */
}

/* 搜索框 */
.header-search .search-form {
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
}
.header-search .search-form .search-text {
    position: absolute;
    top: 0;
    right:51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
}
.header-search .search-form .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #ffffff;
    color: #616161;
    outline: 0;
}
.header-search .search-form .search-btn:hover {
    background-color: #ff6700;
    color: #ffffff;
}
/* 选项卡 */
.seckill {
    background-color: #f5f5f5;
}
.seckill-head {
    margin-top: 19px; 
    height: 170px;
    background: url(../img/seckill-head.jpg) no-repeat 50% 0;
}
.seckill-nav {
    margin: -68px 0 22px;    
}
.seckill-navfixed {
   position: fixed;
   top: 60px;
}
.seckill-nav ul {
    width: 1226px;
    height: 68px;
    background: #414141;
}
.seckill-nav li {
    display: block;
    float: left;
    color: #ffffff;
    width: 20%;
    height: 68px;
    line-height: 68px;
    text-align: center;
    cursor: pointer;
}
.seckill-nav li em {
    margin-left: 30px;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}
.seckill-nav li span {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
    line-height: 1;
    vertical-align: middle;
    font-size: 14px;
}
.seckill-nav .active {
    background-color: #f1393a;
}
.seckill-nav ul li span em {
    display: inline-block;
    font-size: 14px;
    margin-left: 0;
    font-style: normal;
    text-align: left;
    line-height: 20px;
}
/* 商品信息的布局 */
.seckill-goods .active {
    display: block;
}
.seckill-goods ul {
    margin-right: -13px;
    /* border: 1px solid black; */
    display: none;

}
.seckill-goods li {
    float: left;
    width: 400px;
    height: 190px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    margin-right: 12px;
    margin-bottom: 13px;
}
.seckill-goods .bg {
    float: left;
    width: 190px;
    height: 190px;
    /* border: 1px solid red; */
}
.seckill-goods .bg img {
    height: 190px;
}
.seckill-goods .info {
    margin-left: 210px;
    width: 190px;
    height: 190px;
    /* border: 1px solid black; */
    padding-top: 30px;
}
.seckill-goods .info .name {
    font-size: 16px;
    color: #333;
    height: 16px;
    line-height: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.seckill-goods .info .tips {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 10px;
}
.seckill-goods .info .price {
    font-size: 16px;
    line-height: 16px;
    color: #f1393a;
    margin-top: 14px;
    margin-bottom: 0;
}
.seckill-goods .info .price del {
    color: #999999;
    font-size: 12px;
    line-height: 12px;
    margin-left: 10px;
}
.seckill-goods .info .btn {
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    background-color: #f1393a;
    margin-top: 19px;
    border: 1px solid #f1393a;
}
.seckill-goods .info .person {
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    margin-top: 10px;
}
.seckill-notice {
    font-size: 12px;
    color: #999999;
    margin-top: 100px;
    padding-bottom: 35px;
}
 /* 服务栏 */
 .service{
    margin: 25px 0 25px 0;
   
  }
  .service span{
      float: left;
      color: #e0e0e0;
      height: 60px;
      font-family: sans-serif;
      font-size: 20px;
  }
  .service .iconfont{
      font-size: 24px;
      margin-right: 10px;
      height: 25px;
      line-height: 25px;
  }
  .service a{
      float: left;
      font-size: 16px;
      color: #333;
      height: 25px;
      line-height: 25px;
      width: 18.8%;
      text-align: center;   
  }
  .service a:hover{
      color: #ff6700;
  }

  /* 下脚 */
  .table{
    width: 960px;
    height: 112px;
    float: left;
}
.table th{
    text-align: left;
    color: #424242;
    font-size: 14px;
    line-height: 1.25;
    padding-bottom: 25px;  
}
.table a{
    color: #b0b0b0;
    font-size: 12px;
}
.table a:hover{
    color: #ff6700;
}
.contact span{
    padding: 0 35px;
    font-size: 24px;
    color: #ff6700;
    text-align: center;
}
.contact p{
    padding: 0 25px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;   
}
.contact a{
    margin: 0 auto;
    display: inline-block;
    width: 120px;
    height: 30px;
    color: #ff6700;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #ff6700;
    text-align: center;
    margin-left: 55px;
}
.foot{
    background-color:#f0f0f0;
    height: 182px;
    margin-top: 30px;
}
.foot-logo{
    float: left;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 0;
    margin-top:30px;
    margin-right: 15px;
}
.foot-nav{
    margin-top: 30px;
}
.foot-nav span{
    color: #616161;
   padding: 0 2px;
}
.foot-nav a{
    font-size: 14px;
    color: #616161;
}
.foot-nav a:hover{
    color: #ff6700;
}
.foot-nav .foot-text {
    font-size: 12px;
}
.foot-nav .foot-text i{
    font-style: normal;
    color: #616161;
    margin-left: 70px;
}
.partner{
    margin-top: -100px;
    float: right;
}
.partner a{
    margin: 15px 5px ;
    width: 85px;
}
.partner span{
    display: block;
    padding-top: 15px;
    padding-left: 100px;
}

















































