body {
    height: 1000px;
    margin:0;
    padding:0;
}
.ad {
    position: fixed;/*固定弹窗图片的位置*/
    bottom: 0;
    right: 0;
    width: 321px;
    height:321px;
    /* border: 1px solid black; */
}
.btn {
    position: absolute;/*定位关闭按钮的位置*/
    top: 0;
    right:0;
    cursor: pointer;/*将鼠标变成小手*/
}
.bg {
    /* width: 3210px; */
}